<?xml version="1.0" encoding="[% web_charset %]"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="[% web_locale %]">
  <title>[% feed_title %]</title>
  [% IF feed_subtitle %]
  <subtitle>[% feed_subtitle %]</subtitle>
  [% END %]
  <link href="[% feed_url_basename %].atom" rel="self" type="application/atom+xml" />
  <link href="[% feed_url_basename %].html" rel="alternate" type="text/html" />
  <id>[% feed_id %]</id>
  <generator version="[% web_gen_version %]">[% web_gen_program %]</generator>
  <rights>Copyright © [% author_copyright %] [% author_name %]</rights>
  <updated>[% feed_gen_isotime %]</updated>
  <author>
    <name>[% author_name %]</name>
    <email>[% author_mail %]</email>
    <uri>[% web_url_root %]</uri>
  </author>

  [% FOREACH entry IN entries %]
  <entry>
    <title>[% entry.title %]</title>
    <link href="[% entry.url_basename %].html" rel="alternate" type="text/html" />
    <id>[% entry.id %]</id>
    <updated>[% entry.isotime %]</updated>
    [% IF entry.summary %]
    <summary>[% entry.summary %]</summary>
    [% END %]
    [% IF entry.tags %]
      [% FOREACH tag IN entry.tags %]
    <category term="[% tag.name %]" />
      [% END %]
    [% END %]
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        [% entry.text %]
      </div>
    </content>
  </entry>
  [% END %]
</feed>
