<div class="news">
<tmpl_loop name="news_entries">
  <div class="news-entry">
    <div class="news-title">
      <strong><tmpl_var name="news_title"></strong>
    </div>
    <div class="news-body">
      <tmpl_var name="news_body">
    </div>
  </div>
</tmpl_loop>
</div>
