[%- INCLUDE "html-head.tmpl" -%]

  <div class="page-content">
  [% FOREACH entry IN entries %]
  <div class="entry">
    <div class="entry-meta">
      <h2>
        <a href="[% entry.entry_path_basename %].html">[% entry.entry_title %]</a>
      </h2>
      [% IF entry.entry_summary %]
      <div class="entry-summary">
        [% entry.entry_summary %]
      </div>
      [% END %]
    </div>
    <div class="entry-body">
      [% entry.entry_text %]
    </div>
    <div class="entry-footer">
      <span class="entry-time">
        Published on [% entry.entry_isodate %];
      </span>
      <span class="entry-tags">
        Tags:[% FOREACH tag IN entry.entry_tags %]
          <a href="[% tag.tag_path_basename %].html">[% tag.tag %]</a>
        [% END %]
      </span>
    </div>
  </div>
  [% END %]
  </div>

  <hr class="page-separator" />

[%- INCLUDE "html-tail.tmpl" -%]
