  <div class="page-footer">
    [% IF web_footer %]
    [% web_footer %]
    [% END %]
    [% IF feed_url_basename %]
    <div class="page-feed">
      <a href="[% feed_path_basename %].atom" class="feed">Page subscription feed</a>.
    </div>
    [% END %]
    <div class="page-timestamp">
      Page last built on [% web_gen_isotime %][% IF web_url_vcs %], from
      <a href="[% web_url_vcs %][% web_filename %]">source</a>[% END %].
    </div>
    <div class="page-copyright">
      Copyright © [% author_copyright %] [% author_name %]
    </div>
  </div>
</body>
</html>
