  <div class="page-footer">
    [% IF web_footer %]
    [% web_footer %]
    [% END %]
    [% IF feed_url_basename %]
    <div class="page-feed">
      <a href="[% feed_path_basename %].atom" class="feed">Page subscription feed</a>.
    </div>
    [% END %]
    <div class="page-timestamp">
      Page last built on [% web_gen_isotime %][% IF web_url_vcs %], from
      <a href="[% web_url_vcs %][% web_filename %]">source</a>[% END %].
    </div>
    <div class="page-copyright">
      Copyright © [% author.copyright %] [% author.name %]
    </div>
    [% IF image %]
    <div class="image-copyright">
      Copyright © [% image.author_copyright %] [% image.author_name %];
      <a href="[% image.license_link %]">[% image.license_name %]</a>;
      <a href="[% image.original_link %]">orginal image</a>
    </div>
    [% END %]
  </div>
</body>
</html>
