[%- INCLUDE "tmpl/html-head.tmpl" -%]

  <div class="page-content">
  [% FOREACH entry IN entries %]
  <div class="entry">
    <div class="entry-meta">
      <h2>
        <a href="[% entry.path_basename %].html">[% entry.title %]</a>
      </h2>
      [% IF entry.summary %]
      <div class="entry-summary">
        [% entry.summary %]
      </div>
      [% END %]
    </div>
    <div class="entry-body">
      [% entry.text %]
    </div>
    <div class="entry-footer">
      <span class="entry-time">
        Published on [% entry.isodate %];
      </span>
      <span class="entry-tags">
        Tags:[% FOREACH tag IN entry.tags %]
          <a href="[% tag.path_basename %].html">[% tag.name %]</a>
        [% END %]
      </span>
    </div>
  </div>
  [% END %]
  </div>

  <hr class="page-separator" />

[%- INCLUDE "tmpl/html-tail.tmpl" -%]
