<div class="news">
[% FOREACH news IN news_entries %]
  <div class="news-entry">
    <div class="news-title">
      <strong>[% news.title %]</strong>
    </div>
    <div class="news-body">
      [% news.text %]
    </div>
  </div>
[% END %]
</div>
