<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="[% web_locale %]" xml:lang="[% web_locale %]">
<head>
  <title>[% web_title %]</title>
  <meta charset="[% web_charset %]" />
  <meta name="Language" content="[% web_language %]" />
  <meta name="generator" content="[% web_gen_program %] [% web_gen_version %]" />
  <meta name="author" content="[% author.name %]" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  [% IF head_meta %][% head_meta %][% END %]
  <link rel="author" href="mailto:[% author.mail %]" />
  <link rel="home" href="[% web_home %]" title="Home" />
  <link rel="stylesheet" type="text/css" href="[% web_stylesheet %]" />
  [% IF web_stylesheet_local %]
  <link rel="stylesheet" type="text/css" href="[% web_stylesheet_local %]" />
  [% END %]
  [% IF feed_url_basename %]
  <link rel="alternate"  type="application/atom+xml" href="[% feed_path_basename %].atom" title="Atom feed" />
  [% END %]
  [% IF webid %]
  <link rel="alternate" type="text/turtle" href="[% webid %]" title="WebID" />
  [% END %]
</head>
<body lang="[% web_locale %]">
  [% IF web_navbar %]
  <div class="navbar">
    <span class="navbar-home"><a href="[% web_home %]">Home</a></span>
    <span class="navbar-title">[% web_title %]</span>
  </div>
  [% END %]
